// app global css in SCSS form
img, video{
    max-width: 100%;
}
.hidden{
    display: none;
}
.p-relative{
    position: relative;
}
.absolute-center{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}
.stretch{
    width: 100%;
    height: 100%;
}

:root{
    --color-first: #69247C;
    --color-second: #DA498D;
    --color-third: #FAC67A;
    --color-fourth: #F9E6CF;
}
.h-fit{
    height: fit-content;
}